html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 18px;
}

/* NAV STYLING */
.navbar-nav {
    margin-left: 40%;
    font-size: 1.2rem;
}

.bg-body-custom {
    background-color: #590004;
}

.nav-link {
    color: white;
    padding: 0.5rem;
}

.nav-link:hover {
    color: #0b5d1e;
}

/* MAIN STYLING */
main {
    font-family: 'Lato', sans-serif;
    width: 100%;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.bookingheader {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 5rem;
    padding-top: 1%;
}

.bookingform {
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    max-width: 900px;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.submitbutton {
    padding-top: 1rem;
    text-align: left;
    padding-bottom: 1rem;
}

.btn {
    background-color: #0b5d1e;
    color: white;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.btn:hover {
    background-color: #590004;
    color: white;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.side-image {
    width: 30%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    padding: 2%;
}

/* FOOTER STYLING */
footer {
    background: linear-gradient(180deg, rgba(89,0,4,0.4375875350140056) 0%, rgba(89,0,4,0.6924894957983193) 39%, rgba(89,0,4,1) 100%);    color: white;
    padding: 1% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.socials {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1%;
}

.fa-twitter, .fa-facebook, .fa-instagram {
    color: white;
}

.a-social {
    color: white;
    text-decoration: none;
    font-family: 'Tangerine', cursive;
    font-size: 1.8rem;
}
footer p {
    font-size: 0.8rem;
    margin: 0.5vh 0;
    display: inline-block;
    vertical-align: middle;
}

.footp1 {
    text-align: left;
    padding-left: 2%;
}

.footp2 {
    text-align: right;
    padding-right: 2%;
}