html,body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.navbar-nav {
    margin-left: 36%;
}

main {
    font-family: 'Lato';
    width: 100%;
    margin-right:0%;
}

.navbar-nav {
    margin-left: 40%;
}

.bg-body-custom {
    background-color: #590004;
}

.nav-link {
    color: white;
}