.bookingheader {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 5rem;
    padding-top: 1%;
}

.bookingform {
    margin-left: auto;
    margin-right:auto;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
}

.submitbutton {
    padding-top: 1rem;
    align-items: left;
    padding-bottom: 1rem;
}

.btn {
    background-color:#0b5d1e;
    color:white;
    margin-bottom: 10px;
    font-size: 1.3rem;
}
.btn:hover {
    background-color:#590004;
    color:white;
}